@using ProductCrudEF.Models
@using ProductCrudEF.Helpers

@model List<Product>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

    <h1 class="header-title">Products</h1>
    
    <div class="d-flex justify-content-between flex-lg-wrap">
        @if (Model.Count != 0)
        {
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-body">

                        <img src="~/images/@item.ImageUrl" alt="Product Image" class="product-image" />

                        <p><b>Name: </b><span class="product-name">@item.Name</span></p>

                        <p><b>Price:</b> <span class="product-price">@item.Price</span></p>

                        <p><b>Description:</b> <span class="product-description">@item.Description</span></p>

                        <p><b>Category:</b> <span class="product-category">@item.Category?.Name</span></p>

                        <a href="@Url.Action("DeleteProduct", "Product", new { id = item.Id })" class="product-link">Delete</a>
                        <a href="@Url.Action("EditProduct", "Product", new { id = item.Id })" class="product-link">Edit</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h1 class="header-title">There is no any Product yet!</h1>
        }
    </div>
</body>
</html>